/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.branding_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.branding {
    width: 100%;
    height: 495px;
}

.branding_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 140px;
}

.branding_texts {
    width: 705px;
    height: 215px;
    margin-left: 40px;
    border-radius: 8px;
    background-color: #aca9aa24;
    padding: 20px 0px;
}

.branding_main_text {
    display: flex;
    width: 100%;
    height: 215px;
}

.branding_text {
    width: 705px;
    height: 215px;
    display: flex;
    gap: 24px;
    margin: 24px 25px;
}

.branding_text_text {
    width: 468px;
    height: 167px;
}

.branding_text_text_anna {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: -20px;
}

.branding_text_text_P {
    width: 468px;
    height: 115px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}

@media(max-width:780px) {
    .branding {
        width: 100%;
        height: 495px;
        transform: translate(95px);
    }
    .branding_text_text_P{
        font-size: 16px;
    }
}