/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

header {
    max-width: 1920px;
    width: 100%;
    height: 168px;
}

.frst_header {
    width: 100%;
    height: 40px;
    display: flex;
}

.frst_h2 {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-left: 140px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.snd_h {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;

    margin-left: 190px;
}


.snd_scn_p {
    margin-left: 280px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.scnd_header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    align-items: center;
}

.logo {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.input {
    display: flex;
    gap: 5px;
}

.input_inp {
    width: 497px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.304);
}

.search {
    width: 48px;
    height: 48px;
}

.icons {
    width: 164px;
    height: 46px;
    margin-right: 100px;
}

.thrd_header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    align-items: center;
}

.all {
    width: 270px;
    height: 48px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px 30px;
    display: flex;
    border: none;
    border-radius: 8px;
}

.text_header {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.stores {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.stores_img {
    width: 32px;
    height: 32px;
}

.nav_ul_p {
    color: aquamarine;
    font-weight: 700;
}