.button_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.button {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 40px;
    margin-bottom: 283px;
}

.button_images {
    width: 100%;
    height: 130px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn_images_b {
    margin-left: 20px;
}


@media(max-width:780px){
    .button{
        transform: translate(90px);
    }
}