/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.rate_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.rate {
    width: 100%;
    height: 570px;
}

.rate_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 140px;
}

.rate_img_and_text {
    width: 100%;
    height: 390px;
    display: flex;
    gap: 30px;
    margin: 30px 90px;

}

.rate_cards {
    display: flex;
    gap: 30px;
}

.rate_card {
    width: 338px;
    height: 110px;
    display: flex;
    gap: 16px;
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 30px;
}

.rate_card_text_paragarf {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.rate_card_text p {
    font-family: "Montserrat", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
}
@media(max-width:780px){
    .rate_logo{
        transform: translate(95px,0px);
    }
    .rate_img_and_text{
        margin-left: 190px;
        font-size: 8px;
    }
    .rate_card_text p{
        font-size: 10px;
        margin-right: 5px;
    }
}






