/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*     font-family: "Montserrat", sans-serif;
 */
.footer_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
}

.footer {
    width: 100%;
    height: 574px;
    margin-top: 80px;
    background-color: black;
}

.footer_text_and_images {
    width: 100%;
    height: 697px;
    position: absolute;
    bottom: 120px;
}

.footers_images {
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.logo {
    display: flex;
    font-weight: 700;
    align-items: center;
    color: #fff;
}
.footer_texts{
    display: flex;
}
.footer_text {
    width: 547px;
    height: 304px;
    color: #CFCFCF;
    margin-top: 49px;
    margin-left: 140px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.footer_inp {
    width: 547px;
    height: 56px;
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.input {
    width: 384px;
    height: 56px;
    padding: 0px 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 8px;
}

.footer_inp_btn {
    width: 125px;
    height: 56px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    background-color: #00FAEB;
}
.icon_inp{
    margin-bottom: 30px;
}
.scnd{
    display: flex;
    justify-content: space-between;
}


@media(max-width:780px){
    .footers_images{
        transform: translate(10px);
    }
   .s{
    display: none;
   } 
   .scnd{
    display: none;
   }
   .footer{
    margin-left: 120px;
   }
}

