/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.best_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.best {
    width: 100%;
    height: 740px;
}

.new_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 140px;
}

.new_cards {
    padding: 0px 140px;
}

.cards_new {
    display: flex;
    justify-content: space-between;
}

.crd_new {
    width: 338px;
    height: 466px;
    text-align: center;
    margin-bottom: 40px;
}

.crd_new p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 50, 50);
}
@media(max-width:780px){
    .best{
        transform: translate(95px,0px)
    }
    .s{
        display: none;
    }
}



