/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.apple_container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    /*     font-family: "Montserrat", sans-serif;
 */
    overflow: hidden;
}

.apple {
    width: 100%;
    height: 320px;
    margin-top: 40px;
    position: relative;
}

.apple_img {
    position: absolute;
    z-index: -1;
}

.apple_texts {
    padding: 60px 170px;
    display: flex;
    justify-content: space-between;
}

.apple_text {
    width: 320px;
    height: 200px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.apple_text button {
    width: 125px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;

}

@media (max-width:780px) {
    .apple {
        transform: translate(195px, 0px);
    }

    .apple_texts {
        transform: translate(-95px, 0px);

    }
    .apple_text{
        transform: translate(0px,-40px);
    }
}